@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Hind+Siliguri:wght@300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;700&family=Noto+Sans+Mono:wght@100;300;400;500;700&display=swap");

.col {
  color: white;
}

.home {
  font-family: "Noto Sans Mono", monospace;
}
